@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import "./trigonometry.css";
:root {
    --crop-yellow: rgba(248, 219, 92, 1);
    --crop-green: rgba(70, 161, 126, 1);
    --crop-white: rgba(255, 254, 245, 1);
    --app-height: 100%;
}

* {
    font-family: 'Poppins', sans-serif;
}

/* ######################################## */

/* GENERAL PURPOSE CLASSES */

/* Colours */

.text-color-crop-yellow {
    color: var(--crop-yellow);
}

.text-color-crop-green {
    color: var(--crop-green);
}

.text-color-crop-white {
    color: var(--crop-white);
}

.bg-color-crop-white {
    background-color: var(--crop-white);
}

.bg-color-crop-yellow {
    background-color: var(--crop-yellow);
}

.bg-color-crop-green {
    background-color: var(--crop-green);
}

.filter-drop-shadow {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
}

/* Background */

.svg-background {
    overflow: hidden;
    height: 100vh;
    height: var(--app-height);
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}

.ellisse {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    position: fixed;
    overflow: hidden;
}

.ellisse.top-left {
    fill: var(--crop-green);
    width: 405px;
    height: 387px;
    left: -220px;
    top: -210px;
    z-index: 0;
}

.ellisse.bottom-right {
    fill: var(--crop-yellow);
    width: 405px;
    height: 387px;
    left: calc(50vw + 35px);
    bottom: -150px;
    z-index: 0;
}

.ellisse.bottom {
    fill: var(--crop-yellow);
    left: calc(-287.5px + 50vw);
    bottom: -450px;
    z-index: 0;
}

/* Ui */

.container-fluid {
    z-index: 1000;
    max-width: 450px;
}

.container-fluid.ui {
    margin-bottom: 100px;
    min-height: calc(100vh - 100px);
    min-height: calc(var(--app-height) - 100px);
    height: calc(100vh - 100px);
    height: calc(var(--app-height) - 100px);
}

p {
    font-size: 10px;
}

p.text-large{
    font-size: 15px;
}

/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 65px;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--crop-green);
    border-radius: 40px 40px 0 0;
    padding: 0 40px 0 40px;
}

.footer-link {
    align-content: center;
    display: flex;
    width: 30px;
}

.footer-link.logo-crop {
    position: relative;
    top: -35px;
    justify-content: center;
    align-items: center;
    background-color: var(--crop-white);
    width: 70px;
    height: 70px;
}

.footer-link.left-icon {
    justify-content: flex-start;
}

.footer-link.right-icon {
    justify-content: flex-end;
}

.icon-footer {
    width: 100%;
    height: 25px
}

.logo-crop .icon-footer {
    width: 55px;
    height: 55px;
}

/* ######################################## */

/* HOME PAGE */

p.description-text {
    text-align: justify;
}

.row.home-pill {
    margin-top: 3rem;
    padding: .7rem 0 10px 0;
    background-color: var(--crop-yellow);
    border-radius: 1.5rem;
    z-index: 100;
}

/* Profile picture */

.col-3.image-wrapper {
    height: fit-content;
    height: -moz-max-content;
}

.icon-gear {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
    fill: var(--crop-green);
}

img.drop-shadow {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
}

/* Coin Pills */

.row.coin-pill-row {
    position: relative;
    top: -20px;
    z-index: 1010;
}

.coin-pill {
    margin: 0;
    background-color: var(--crop-green);
    height: 110px;
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coin-pill.right {
    float: right;
    margin-right: 15px;
}

.coin-pill.left {
    float: left;
    margin-left: 15px;
}

.center-text {
    justify-content: center;
    text-align: center;
}

.justify-text {
    text-align: justify;
}

.seme-icon-text {
    height: 1.2rem;
    margin-left: 5px;
}

/* Doughnut Chart */

.chart-container {
    width: 250px;
}

canvas.doughnut-chart {
    z-index: 100;
}

/* Buttons */

.option-btn {
    width: fit-content;
    width: -moz-max-content;
    z-index: 1000;
}

.option-btn-col {
    margin-right: 1rem;
}

.bg-light-green {
    background-color: rgba(123, 173, 119, 1);
}

/* ######################################## */

/* QR READER PAGE */

.qr-reader-container {
    position: absolute;
    left: calc(50vw - 150px);
    text-align: center;
    width: 300px;
}

/* ######################################## */

/* MENU REALTA' PAGE */

.circle-category {
    position: absolute;
    background-color: var(--crop-yellow);
    width: 100px;
    height: 100px;
    transform: translateX(calc(var(--cos) * 100px)) translateY(calc(var(--sin) * 100px));
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.circle-category a {
    color: inherit;
}

/* ######################################## */

/* CONFERMA CROP COIN PAGE */

.main-conferma {
    position: absolute;
    top: calc(50vh - 125px);
    left: calc(50% - 100px);
}

.row-semi-sm {
    max-height: 1rem;
    align-items: center;
}

.col.seme-sm {
    max-height: 1rem;
    padding-left: 0;
    padding-right: 0;
    width: max-content;
}

img.seme-sm {
    position: relative;
    bottom: 0.4rem;
    height: 1rem;
}

p.transaction-description {
    margin-bottom: 0;
    margin-top: 0.1rem;
}

/* ######################################## */

/* MAPPA NEGOZI PAGE */

#mapid {
    height: 100%;
}

.container-fluid.map {
    min-height: 100vh;
    min-height: var(--app-height);
    height: 100vh;
    height: var(--app-height);
    max-width: 100%;
    padding: 0;
}

/* ######################################## */

/* LOGIN PAGE */

.container-fluid.login {
    background-color: var(--crop-green);
    min-height: 100vh;
    min-height: var(--app-height);
    height: 100vh;
    height: var(--app-height);
    padding: 0;
}

.img-container-logo img {
    width: 100%;
}

div.input-group-login {
    filter: drop-shadow(1px 3px 2px rgba(0, 0, 0, 0.161));
}

div.input-group-login:nth-of-type(1) {
    border-radius: 1.8rem 1.8rem 0 0;
}

div.input-group-login:nth-of-type(2) {
    border-radius: 0 0 1.8rem 1.8rem;
}

.text-input-login {
    border: 0px;
    background-color: var(--crop-white);
    width: calc(100% - 1rem);
    height: 100%;
    font-size: 0.8rem;
}

.btn-yellow-crop {
    background-color: var(--crop-yellow);
    width: 50%;
    border-radius: 2rem;
    padding: 0.2rem 0.5rem;
    font-size: 12px;
    color: var(--crop-green);
    font-weight: bold;
}

.footer-login {
    width: 100%;
    padding-bottom: 2rem;
    position: fixed;
    bottom: 0;
    left: 0;
}

/* ######################################## */

/* LISTA REALTA' PAGE */

.realta-list-element {
    border-bottom: solid 0.5px rgba(0, 0, 0, 0.161);

}

/* ######################################## */

/* PORTFOLIO PAGE */

.portfolio-pill {
    width: 90px;
    height: 90px;
}

.container-fluid.list {
    min-height: 100vh;
    min-height: calc(var(--app-height) + 120px);
    height: 100vh;
    height: calc(var(--app-height) + 120px);
}

/* ######################################## */

/* NEGOZIO PAGE */

.negozio-profile-pic {
    max-height: 150px;
}

.circle-button {
    background-color: var(--crop-yellow);
    width: 50px;
    height: 50px;
    padding-top: 8px;
    padding-bottom: 8px;
}

a.negozio-links {
    text-decoration: none;
    color:inherit;
}

#map-negozio {
    height: 200px;
}
